@import 'css/github-markdown.css'; /* From https://github.com/sindresorhus/github-markdown-css */
@import 'css/cards.css';
@import 'css/shoelace-light.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* { margin: 0; }

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

article {
  font-family: Roboto, sans-serif;
  animation: fadeInAnimation ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: min(1200px, 100% - 4rem);
  margin-inline: auto;
  background-color: #fff;
}

article > * + * {
  margin-top: 1em;
}

article h1,
article h2 {
  border-bottom: none;
  padding-bottom: 0;
}

article li > p {
  margin: 0;
}

article .markdown-body {
  font-size: 1.3em;
}

/*********** mobile ***********/

@media only screen and (max-width: 768px) {
  
  article {
    font-size: 1em;
    width: calc(100% - 2em);
  }

  ve-header {
    width: 100%;
  }

}

/*********** end mobile ***********/

section {
  position: relative;
  clear: both;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: inherit;
  /* z-index: 0; */
}

.flow-root section {
  display: flow-root;
}

/* reduce heading margins to compensate for spacing added by section display:flow-root */
.flow-root section h1,
.flow-root section h2,
.flow-root section h3,
.flow-root section h4,
.flow-root section h5,
.flow-root section h6 {
  margin-top: 12px; 
  margin-bottom: 12px;
}

ve-footer ul,
ve-header ul,
ve-image ul,
ve-map ul,
ve-menu ul,
ve-navbar ul {
  display: none;
}

ve-image,
ve-map {
  margin-bottom: 2em;
}

ve-image img {
  max-width: 100%;
  height: auto;
}

ve-entity-infobox {
  position: relative;
  /* z-index: 10; */
  border-bottom: 1px solid #ccc;
}

ve-header {
  z-index: 10;
  margin-bottom: 1em;
}

.columns { /* multiple columns */
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1;
}

.hide {
  display: none;
}

ve-footer.sticky {
  bottom: 0;
}

@media (min-width: 600px) {

  .left {
    float: left;
    padding-right: 1em;
  }

  .right {
    float: right;
    padding-left: 1em;
  }

  .left, .right {
    width: 50%;
    margin-bottom: 1em;
  }

}

  
p audio {
  width: 250px;
  height: 24px;
  vertical-align: middle;
}

.showactive {
  padding-bottom: 80dvh;
}
.showactive .active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

section#references {
  margin-top: 2em;
}

section#references h1 {
  font-size: 1.5em;
}

section#references P {
  font-size: 1em;
  margin-bottom: 0.7em;
}

a.flyto, mark.flyto,
a.play, mark.play,
a.qid, mark.qid,
a.zoom, mark.zoom,
ve-entity-infobox {
  cursor: pointer;
  background: unset;
  border-bottom: 1px solid #ccc;
  color: #444;
}

a.zoom {
  background-color: lightcyan;
}

a.flyto:hover, mark.flyto:hover,
a.play:hover, mark.play:hover,
a.qid:hover, mark.qid:hover,
a.zoom:hover mark.zoom:hover,
ve-entity-infobox:hover {
    border-bottom: 2px solid #444;
    background: #eee;
}

a.flyto::after, mark.flyto::after, 
a.play::after, mark.play::after, 
a.qid::after, mark.qid::after, 
a.zoom::after, mark.zoom::after,
ve-entity-infobox::after {
  /* color: #aaa; */
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em;
  padding-left: 2px;
  padding-right: 4px;
}

a.flyto::after, mark.flyto::after {
  content: "✈";
  font-size: 120%;
  top: 0;
}

a.play::after, mark.play::after {
  content: "▶";
}

/*
a.qid:after, mark.qid::after, ve-entity-infobox::after {
  content: "ⓘ";
}
*/

a.zoom::after, mark.zoom::after {
  content: "🔎";
}

p span.headline {
  font-weight: 500;
}

table[id] {
  display: none;
}

/*********** resume ***********/

.resume > section:first-of-type { /* header */
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.resume > section:first-of-type > section:nth-of-type(2) { /* contact links */
  display: flex;
  margin-left: auto;
  gap: 1em;
}

.resume > section:first-of-type > section:nth-of-type(2) li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.resume > section:first-of-type > section:nth-of-type(2) li img {
  height: 24px;
  width: 24px;
}

.resume > section:first-of-type > section:nth-of-type(2) > p > img { /* head shot */
  max-width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*********** printing ***********/

@media print {
  ve-footer { display: none; }

  .pagebreak { break-before: always; }
  
  .keep-together { break-inside: avoid; }

  article {
    font-size: 1rem;
    padding-bottom: 4em !important; 
  }

  .j1 .viewers {
    float: right;
  }

  ve-compare,
  ve-iframe,
  ve-image,
  ve-knightlab-timeline
  ve-map,
  ve-plant-specimen
  ve-video,
  ve-visjs {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }

}

.markdown-body .footnotes,
.footnote,
.footnotes {
  font-size: 0.8em;
  /* white-space: pre-wrap; */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*********** Juncture 1 ***********/

/*
.j1 {
  width: 100%;
  padding: 6px;
}

.j1 section {
  margin: 0;
}

.j1 .segment {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 1200px) {

  .j1 {
    width: unset;
    background: #f8f8f8;
  }
  .j1 ve-header {
    margin-bottom: 0;
  }

  .j1 .active {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .j1 section {
    margin: 0;
  }

  .j1 > section,
  .j1 > div.segment {
    width: calc(50% - 1em);
    margin: 0.5em 1em;
  }

  .j1 p {
    margin-right: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    line-height: 1.6;
    border-radius: 8px;
    border: 1px solid #f8f8f8;
  }

  .j1 .segment {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr ;
    margin-bottom: 0;
  }

  .j1 .viewers {
    display: none;
    height: 100%;
  }

  .j1 p.active {
    background-color: #ffffff;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
    border-radius: 8px;
    border: 1px solid #9e9e9e;
  }

  .j1 p.active + .viewers {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
  }

}
*/

article.j1 {
  /* height: 100%; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';;
}

article.j1 > * {
  width: 100%;
}

.j1 ve-header {
  grid-area: header;
  position: sticky;
  top: -300px;
  z-index: 10;
  margin-bottom: 0;
}

.j1 main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-areas: 'content viewers';
  background-color: #f8f8f8 !important;
  font-size: 1.3em !important;
  line-height: 1.6 !important;
}

.j1 .content {
  grid-area: content;
  margin: 0.5em;
}

.j1 .viewers {
  grid-area: viewers;
  /* display: none; */
}

.j1 footer {
  grid-area: footer;
}

.j1 .segment {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em 0;
}

.j1 .segment > ve-j1-viewers {      
  width: 100%;
  align-self: center;
}

.j1 .segment > p {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
}

.j1 .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* z-index: 2; */
}

.j1 .footnote div, .j1 .footnotes div {
  white-space: unset
}
.j1 .footnote li > p, .j1 .footnotes li > p {
  margin: 0;
  background-color: inherit;
  border-color: inherit;
  box-shadow: none;
}

.j1 .content > section:first-of-type > h1,
.j1 .content > section:first-of-type > h2,
.j1 .content > section:first-of-type > h3 {
  margin-top: 0;
}

@media (min-width: 800px) { /* wide screens */
  
  .j1 main {
    grid-template-columns: 1fr 1fr;
    padding-left: 1em;
  }

  .j1 .content {
    padding-right: 1em;
  }
  
  .j1 p.active {
    background-color: #ffffff;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
    border-color: #9e9e9e;      
  }

  .j1 .segment {
    margin: 0;
  }

  .j1 .segment > p {
    padding: 0.5em;
  }

  .j1 .segment > ve-j1-viewers {
    display: none;
  }

  .j1 .viewers {
    grid-area: viewers;
    display: block;
    height: calc(100dvh - 100px);
    margin-top: 0;
  }

}

/* Testing */

@media (min-width: 800px) { /* wide screens */

  .j1 .viewers {
    visibility: hidden;
    position: fixed; 
    top: 100px;
    right: 1em; 
    height: calc(-100px + 100dvh); 
    width: calc(50% - 1em);
    z-index: unset;
  }
  .j1 .viewers.active {
    display: block;
    visibility: visible;
    z-index: 5;
  }

  .j1 main {
    display: block;
    width: 50%
  }

  .j1 .content {
    margin: 0 0 80dvh 0;

  }

}
